* {
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #aeb0b0;
}

.content{
    width: 100vw;
    height: 100vh;
}

.header{
    background: #787b7b;
    padding-inline: 16px;
}

.nav{
    max-width: 1280px;
    height: 62px;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::before, .hamburger::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.nav-list{
    display: flex;
}

.nav-list a {
    font-size: 18px;
}

.logo {
    padding: 1vh;
    text-decoration: none;
    background: #e0e0e0;
    color: rgb(105, 105, 105);
}

.navigation {
    text-align: center;
    margin: 1.5vh;
    background-color: #1c1c1c;
    color: white;
    text-decoration: none;
    padding: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

.about-us {
    text-align: center;
    padding-top: 15vh;
    width: 50vw;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-bottom: 5vw;
    border-bottom: solid rgb(145, 145, 145);
}

footer {
    padding-top: 13vw;
    text-align: center;
}

.form{
    padding-top: 4vw;
    text-align: center;
    font-size: 15px;
    padding-bottom: 2vw;
    border-bottom: solid rgb(145, 145, 145);
}

input{
    font-size: 15px;
    padding: 7px;
}

.btn-send {
    background-color: #1c1c1c;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 3vh;
    transition: 0.3s;
}

.btn-send:hover{
    cursor: pointer;
}
.btn-send:active{
    background-color: #787b7b;
    transition: 0.3s;
}

@media screen and (max-width: 550px) {
    .content {
        display: flex;
        flex-direction: column;
    }
 
    .nav{
        height: 8.7vh;
        display: flex;
        justify-content: space-between;
    }

    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #1c1c1c;
        clip-path: circle(100px at 90% -17%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    
    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }
    .active .nav-list a {
        opacity: 1;
    }
    .active .hamburger{
        position: fixed;
        top: 20px;
        right: 16px;
        border-top-color: transparent;
    }

    .active .hamburger::before{
        transform: rotate(135deg);
    }
    .active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    .active .nav-list{
        clip-path: circle(1500px at 90% -17%);
        pointer-events: all;
    }

    .hamburger{
        display: block;
        z-index: 1;
    }

    .form{
        text-align: center;
        justify-content: center;
        padding: 25vw;
        padding-top: 10vw;
    }
}
